.loader {
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    object-fit: cover;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;    
}