.loader {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    object-fit: cover;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; 

    & img {
        height: auto;
        width: 100%;
    }
       
}