

.item {

    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background-color: lightblue;
    width: 300px;
    height: 450px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;    
    color: white;
    
    & .itemPicture {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
        padding-top: .3em;
        border-radius: 5px 5px 5px 0px;
        display: flex;
        justify-content: center;

        & img {
            background-color: white;
            width: 95%;
            object-fit: cover;
        }
    }

    & .itemBody {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;

        & 

        & .itemTitle {
            text-align: center;
            font-size: 16px;
            color: white;
            margin-bottom: 0px;
            align-items: stretch
        }
        
        & .itemDescription {
            text-align: justify;
            position: relative;            
            font-size: 15px;
            height: 1.5em;
            color: white;
            margin: 0px;
            
            & p {
                margin-block-start: 0;
            }
        }

        & .itemPrice {
            text-align: center;
            font-size: 30px;
            color:white;
        }
    }
}