

.itemCount{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 14px;

    & .wrapper {
        display: flex;    
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        & div {
            flex: 1;

            & .onSubstrackButton .onPlusButton{
                color: gray;
            }

            & .onSubstrackButton:disabled .onPlusButton:disabled {
              border: 1px solid #999999;
              background-color: #cccccc;
              color: #666666;
            }
        }
    }
}

   